.tvwiggle > div > div,
.tvwiggle > li > div
{
    border: 1px solid blue;
}

.tvwiggle > div > div:hover,
.tvwiggle > li > div:hover
{
    border-color: red;
}

.tvwiggle > div, 
.tvwiggle > li
{
    border: 1px solid green;
}
