/* The container for our wiggly stuff */
.tvwiggle {
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    display: inline-block;
}

.tvwiggle > div,
.tvwiggle > li 
{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-align: left;
    padding: 20px;
    width: 260px;
    height: 260px;
}

.tvwiggle > div > *,
.tvwiggle > li > * 
{
    text-align: left;
}

.tvwiggle > div > div,
.tvwiggle > li > div 
{
    display: inline-block;
    border-radius: 8px;
    -webkit-box-shadow: 0px 1px 10px 3px rgba(176,176,176,0.65);
    -moz-box-shadow: 0px 1px 10px 3px rgba(176,176,176,0.65);
    box-shadow: 0px 1px 10px 3px  rgba(176,176,176,0.65);
}

/* Firefox wasn't rounding the images bottom corners without this */
.tvwiggle > div > div img,
.tvwiggle > li > div img
{
    display: block;
}

.paralax img {
    border-radius: 8px;
}

.paralax img:first-child {
    position: absolute;
    top: 0;
    left: 0;
}
